body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  header h2 {
    margin: 0;
    font-size: 1.5em;
  }
  

  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    padding: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: burlywood;
    
  }
  
  nav ul li a:hover {
    color: #fff;
  }
  #Home img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
  }
  
  #Home p {
    word-spacing: 10px;
  }
  #Portfolio {
    background-color: #ffe4b5;
    padding: 20px;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    
  }
  
  footer p {
    margin: 0;
  }
  #Bio pre {
    line-height: 1.5;
    word-spacing: 2px;
  }
  #Bio{
    font-style: italic;
    font-display: bold;
  }
 
#Skills ul {
    list-style: none;
    padding: 0;
}


#Skills ul {
    list-style: none;
    padding: 0;
  }
  
  #Skills ul li {
    margin-bottom: 10px;
  }
  
  .skill-name {
    display: inline-block;
    width: 80px; 
  }
  
  .skill-bar {
    background-color: black;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    width:50px;
    text-align: center;
  }
  
  .skill-progress {
    height: 100%;
    background-color:blue;
  }
  
  .skill-percent {
    margin-left: 10px;
    font-weight: bold;
    color: green;
  }
  body{
    
  }